@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
*:focus {
    outline: 0;
}
html, body, #app {
    height: 100%;
}
body, input, button {
    font: 14px 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
}

body {
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-45deg, #aaa 25%, #eee 100%);
    background-attachment: fixed;
}

#app  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    max-width: 60px;
    display: block;
}

.login {
    width: 100%;
    max-width: 540px;
    display: flex;
    justify-content: center;
    padding: 25px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #E3E3E3;
    margin-top: 25px;
    box-shadow: 0 4px 6px 0 hsl(0, 0%, 0%, 0.1);
    transition: 0.4s ease;
}

.login:hover {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.5);
}

.login form {
    display: flex;
    width: 100%; 
    flex-direction: column;
}

.signin-input {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 4px;
}

#submit {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 4px;
    color: #F4EBE1;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 30px;
}


.user-content {
    display: flex;
    max-width: 140px;
    align-items: center;
    background: #FFF;
    padding: 08px;
    border-radius: 4px;
}

.user-content h3 {
     color: #ACACAC;
     font-size: 12px;
     margin-left: 10px;
}

.avatar-url {
    max-width: 23px;
    border-radius: 300px;
    filter: gray;
    filter: grayscale(100%);
    transition: all .2s ease-in-out;
}

.avatar-url:hover {
    transform: scale(2.3);
    filter: none;
}

#available {
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(0, 148, 50,1.0);
    border: none;
    border-radius: 4px;
    color: #F4EBE1;
    font-size: 16px;
    transition: ease 0.2s;
}

#available:hover {
     background-color: rgba(0, 148, 50, 0.8);
}

#loading {
    margin-top: 25px;
    font-size: 25px;
    color: rgba(0, 148, 50,1.0)
}

 




